{% extends 'base.html.twig' %}
{% block body %}
<h1>Edite la quote</h1>

<form action="{{ path('edit_quote',{id:fortune.id}) }}" method="post">

{{ form_start(form) }}
	{{form_row(form.title, {'attr': {class:"form-control"}})}}
	{{form_row(form.author, {'attr': {class:"form-control"}})}}
	{{form_row(form.content, {'attr': {class:"form-control"}})}}
	{{form_row(form.submit, {'attr': {class:"btn btn-default"}})}}
	{{form_rest(form)}}
{{ form_end(form) }}
</form>


{% endblock %}
